body,
html {
    height: 100%;
}

body {
    margin: 0;
}

section {
    height: 100%;
}

/*header styles*/
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 87px;
}

header a img {
    display: block;
    padding: 15px 0;
}

header nav {
    height: 100%;
    width: 30%;
}

header ul {
    height: 100%;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

header li {
    line-height: 50px;
    height: 100%;
    list-style: none;
}

header li a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #555;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    border-top: 3px solid #fff;
}

header li a:hover {
    color: #000;
    border-top: 3px solid #5DADD3;
}

header [href="#home"] {
    color: #000;
    border-top: 3px solid #5DADD3;
}

/*first section styles*/
#slider {
    overflow: hidden;
    margin-top: 87px;
}

#slider_images {
    position: relative;
    width: 300%;
    animation: slider 20s infinite;
}

#slider_images img {
    width: 33.33%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0%;
    }
    
    40% {
        left: 0%;
    }
    
    50% {
        left: -100%;
    }
    
    90% {
        left: -100%;
    }
    
    100% {
        left: -200%;
    }
}







/*
#tel {
    border-bottom: 1px dotted black;
}
*/
