body,
html {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/*
section {
    height: 100%;
}
*/

/*header styles*/
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 87px;
    z-index: 999;
}

header a img {
    display: block;
    padding: 15px 0;
}

header nav {
    height: 100%;
    width: 30%;
}

header ul {
    height: 100%;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

header li {
    line-height: 50px;
    height: 100%;
    list-style: none;
}

header li a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #555;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    border-top: 3px solid #fff;
}

header li a:hover {
    color: #000;
    border-top: 3px solid #5DADD3;
}

header [href="#home"] {
    color: #000;
    border-top: 3px solid #5DADD3;
}

/*first section styles*/
#home {
    height: 100%;
}

#home > div:first-child {
    height: 87px;
}

#home > div:last-child {
    clear: left;
    height: 100px;
    background: linear-gradient(#fff, #e3e3e3);
}

#slider {
    overflow: hidden;
    max-height: calc(100% - 187px);
    position: relative;
    width: 300%;
    animation: slider 20s infinite;
}

#slider img {
    width: 33.33%;
    float: left;
}

#text {
    height: 40%;
    width: 14%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: text_slider 20s infinite;
}

#text h1 {
    margin: 0;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 200%;
}

#text p,
#text a {
    font-family: 'roboto';
}

#text a {
    text-decoration: none;
    background-color: #5DADD3;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 3px solid #4A86A5;
    position: relative;
    top: 15px;
}

#text > * {
    color: #fff;
}

#text span {
    color: #5DADD3;
}

#loading {
    width: 0%;
    height: 5px;
    background-color: #5DADD3;
    position: absolute;
    bottom: 0;
    animation: loading_bar 20s linear infinite;
}

@keyframes slider {
    0% {
        left: 0%;
    }

    40% {
        left: 0%;
    }

    50% {
        left: -100%;
    }

    90% {
        left: -100%;
    }

    100% {
        left: -200%;
    }
}

@keyframes text_slider {
    0% {
        left: 3%;
    }

    40% {
        left: 3%;
    }

    50% {
        left: 36.33%;
    }

    90% {
        left: 36.33%;
    }

    100% {
        left: 69.66%;
    }
}

@keyframes loading_bar {
    0% {
        width: 0%;
    }

    40% {
        width: 33.33%;
    }

    50% {
        width: 33.33%;
    }

    90% {
        width: 66.66%;
    }

    100% {
        width: 66.66%;
    }
}
