body,
html {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/*
section {
    height: 100%;
}
*/

/*header styles*/
header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 87px;
    z-index: 999;
}

header a img {
    display: block;
    padding: 15px 0;
}

header nav {
    height: 100%;
    width: 30%;
}

header ul {
    height: 100%;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

header li {
    line-height: 50px;
    height: 100%;
    list-style: none;
}

header li a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #555;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    border-top: 3px solid #fff;
}

header li a:hover {
    color: #000;
    border-top: 3px solid #5DADD3;
}

header [href="#home"] {
    color: #000;
    border-top: 3px solid #5DADD3;
}

/*first section styles*/
#home {
    height: 100%;
}

#home > div:first-child {
    height: 87px;
}

#home > div:last-child {
    clear: left;
    height: 100px;
    background: linear-gradient(#fff, #e3e3e3);
}

#slider {
    overflow: hidden;
    max-height: calc(100% - 187px);
    position: relative;
    width: 300%;
    animation: slider 20s infinite;
}

#slider img {
    width: 33.33%;
    float: left;
}

#text {
    position: absolute;
    top: 50px;
    animation: text_slider 20s infinite;
}

#loading {
    width: 100%;
    height: 5px;
    background-color: #5DADD3;
    position: absolute;
    bottom: 0;
}

@keyframes slider {
    0% {
        left: 0%;
    }

    40% {
        left: 0%;
    }

    50% {
        left: -100%;
    }

    90% {
        left: -100%;
    }

    100% {
        left: -200%;
    }
}

@keyframes text_slider {
    0% {
        left: 0%;
    }

    40% {
        left: 0%;
    }

    50% {
        left: 33.33%;
    }

    90% {
        left: 33.33%;
    }

    100% {
        left: 66.66%;
    }
}
